.App {
  color: #fff;
  background-color: black;
}

.active-link-class, .link-class {
  color: #fff;
  text-decoration: none;
}
.active-link-class, .link-class-black {
  color: #000;
  text-decoration: none;
}
.active-link-class-dark, .link-class-dark {
  color: #D200A4;
  text-decoration: none;
}
body::-webkit-scrollbar{
  width: 2px;
}
body::-webkit-scrollbar-thumb{
  background-color: #D200A4;
}
body::-webkit-scrollbar-track{
  background-color: transparent;
} 